.hero{
  background-image: linear-gradient(90deg, #1950A0, #6F9FE3, #588AD2);
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero::before{
  content: ' ';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23fff' fill-opacity='1' d='M0,224L60,208C120,192,240,160,360,154.7C480,149,600,171,720,186.7C840,203,960,213,1080,202.7C1200,192,1320,160,1380,144L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  top: 500px;
}

header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.logo{
  background-image: url(./img/logo.png);
  width: 250px;
  height: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.nav{
  width: 600px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}


.actionbtn{
  width: 270px;
  display: flex;
  justify-content: space-between;
}

.join{
  width: 150px;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border: solid 2px #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 500ms;
}

.join:hover{
  background-color: #82CA6D;
  border: none;
  outline: none;
  border-radius: 10px;
}

.login:hover{
  background-color: #82CA6D;
  border: none;
  outline: none;
  border-radius: 10px;
}

.login{
  width: 90px;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: none;
  cursor: pointer;
  transition: all 500ms;
  border: none;
  outline: none;
}

.content{
  color: #fff;
  margin: 40px 0px 0px 100px;
}

.content > h2 {
  font-size: 4rem;
  cursor: text;
}

.content > p{
  font-size: 1.5rem;
  width: 550px;
  cursor: text;
}

.content > h3{
  font-weight: 400;
  cursor: pointer;
  font-size: 1.3rem;
}

.content > h3:hover{
  text-decoration: underline;
}
.hero-btn{
  width: 280px;
  height: 65px;
  background-color: #FD7F00;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 500ms;
}

.hero-btn:hover{
  background-color: #fd6500;
}

.underline{
  text-decoration: underline;
  margin-left: -0px;
}

.img{
  background-image: url(./img/pexels-pixabay-163036-removebg-preview.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 900px;
  height: 500px;
  margin: 100px 0px 0px 0px;
}

.content-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.info-section{
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-wrapper{
  width: 88%;
  display: flex;
  align-items: center;
}

.info-content > h2{
  font-size: 2.5rem;
}

.info-content > p a{
  text-decoration: none;
  color: #1598A8;
}

.info-content > a{
  font-size: 1.5rem;
  text-decoration: none;
  color: #1598A8;
}

.info-content > a:hover{
  color: #00e1ff;
}


.info-content > p a:hover{
  color: #00e1ff;
}


.info-content > p{
  font-size: 1.3rem;
  width: 700px;
}

.info-img{
  background-image: url(./img/learning-path2x2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 700px;
  height: 450px;
  margin-bottom: -100px;
  margin-left: 40px;
}

.start-btn{
  width: 250px;
  height: 55px;
  font-size: 1.2rem;
}

.new-info{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.new-info-wrapper{
  width: 88%;
}

.new-info-wrapper > h2{
  font-size: 2.5rem;
}

.new-info-col{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.new-info-cols{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-details{
  width: 350px;
  margin-left: 30px;
}

.info-details > h2{
  font-size: 1.6rem;
}

.info-details > p{
  font-size: 1.3rem;
  width: 360px;
}

.new-info-img1{
  background-image: url(./img/icon-apcsa2x2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 110px;
  margin-top: -20px;
}

.new-info-img2{
  background-image: url(./img/icon-tutor.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 110px;
  margin-top: -20px;
}

.new-info-img3{
  background-image: url(./img/byjus2x.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 110px;
  margin-top: -20px;
}

.learn-btn > a{
  color: #1598A8;
  text-decoration: none;
}

.learn-btn > a:hover{
  color: #00e1ff;
}

.parent-section{
  background-color: #EBFCFF;
  width: 100%;
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* .parent-section::before{
  content: ' ';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23EBFCFF' fill-opacity='1' d='M0,96L26.7,112C53.3,128,107,160,160,186.7C213.3,213,267,235,320,245.3C373.3,256,427,256,480,234.7C533.3,213,587,171,640,160C693.3,149,747,171,800,192C853.3,213,907,235,960,250.7C1013.3,267,1067,277,1120,250.7C1173.3,224,1227,160,1280,160C1333.3,160,1387,224,1413,256L1440,288L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
} */

.parent-img{
  background-image: url(./img/for-parents2x2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  height: 550px;
  margin-bottom: -150px;
}

.parent-btn{
  width: 180px;
}

.parent-wrapper{
  width: 90%;
  margin-top: 150px;
}

.parent-content > p{
  width: 650px;
}

.educator-wrapper{
  width: 85%;
  margin-top: 200px;
}

.educator-img{
  background-image: url(./img/for-teachers2x2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 800px;
  height: 500px;
  margin-bottom: -150px;
}

.educator-section{
  background-color: #EBFCFF;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 900px;
}

.app-section{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.app-section-wrapper{
  width: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app-section-wrapper > h2{
  font-size: 2.5rem;
}

.app-section-wrapper > p{
  font-size: 1.4rem;
  margin-top: -20px;
}

.apps{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.app-img{
  background-image: url(./img/graphic-mobile2x2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 850px;
  height: 600px;
  margin-top: 30px;

}

.app-details > h2{
  font-size: 2rem;
  font-weight: 500;
}

.app-details > p{
  font-size: 1.3rem;
  width: 450px;
  margin-top: -25px;
}

.app-card{
  display: flex;
  justify-content: space-between;
  width: 540px;
}

.app-thumb-img1{
  background-image: url(./img/icon-junior2x2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin: 40px 0px 0px 0px;
  border-radius: 15px;
}

.app-thumb-img2{
  background-image: url(./img/icon-app2x.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin: 40px 0px 0px 0px;
  border-radius: 15px;
}

.app-thumb-img3{
  background-image: url(./img/icon-mod2x2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin: 40px 0px 0px 0px;
  border-radius: 15px;
}

.stars{
  background-color: #1950A0;
  width: 100px;
  height: 20px;
}

.review{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.iot-wrapper{
  width: 100%;
}

.iot-holder{
  justify-content: space-between;
  margin-top: -80px;
}

.iot-section{
  margin-top: 20px;
}

.iot-content > p{
  width: 500px;
}

.learn{
  margin-bottom: -0px;
}

.iot-img{
  background-image: url(./img/graphic-bbc2x2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 700px;
  height: 600px;
  margin-right: 60px;
}

.why-section{
  background-color: #EBFCFF;
  margin-top: -5px;
  flex-direction: column;
  align-items: center;
}

.why-wrapper{
  margin-top: 50px;
}

.why-wrapper > p{
  width: 1000px;
  margin-top: 15px;
}

.col-wrapper{
  width: 1500px;
  display: flex;
  justify-content: space-between;
}

.col{
  background-color: #ffffff;
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  height: 350px;
  box-shadow: 0px 0px 10px 2px #26262763;}

.col > h3{
  color: #169FB1;
  font-size: 1.5rem;
  margin: 65px 0px 0px 0px;
}

.col > h3, span{
  margin-left: 40px;

}

.col > span{
  line-height: 1rem;
  margin-top: 20px;
}

.brand > p{
  width: 1000px;
  text-align: center;
  margin-top: 1px;
}

.brand{
  margin-top: 100px;
}

.brand-wrapper{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-wrapper2{
  width: 65%;
}

.brand-img1{
  background-image: url(./img/logo-apple.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}

.brand-img2{
  background-image: url(./img/logo-googleedu.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}

.brand-img3{
  background-image: url(./img/logo-microsoft.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}

.brand-img4{
  background-image: url(./img/logo-pbs.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}

.brand-img5{
  background-image: url(./img/logo-bbc-learning.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}

.brand-img6{
  background-image: url(./img/logo-facebook.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}

.brand-img7{
  background-image: url(./img/logo-lego.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}

.brand-img8{
  background-image: url(./img/logo-mc.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}

.brand-img9{
  background-image: url(./img/logo-mattel.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}

.brand-img10{
  background-image: url(./img/logo-hotwheels.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}

.brand-img11{
  background-image: url(./img/logo-barbie.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}

.community{
  background-image: url(./img/map-blue.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.com-btn{
  height: 65px;
  font-size: 1.5rem;
  width: 200px;
}

.dots{
  background-image: url(./img/dots.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 475px;
  height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-right: 500px;
}

.dot-middle{
  background-image: url(./img/dots.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 475px;
  height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 700px;
  margin-right: -400px;
}

.dot-top{
  background-image: url(./img/dots.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 475px;
  height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -700px;
}

.circle{
  background-color: #33343B;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100px;
}

.circle > h2{
  color: #F1DD63;
  font-size: 2.2rem;
  line-height: 2rem;
  margin-top: 30px;
}

.circle > p{
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: -30px;
}

.circle > h2, p{
  text-align: center;
}

.sponsors{
  background-image: linear-gradient( #b4f8ff7a, #b4f8ff70, #0096a70a);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.sponsors-wrapper{
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.sponsors-img{
  background-image: url(./img/common-sense-selection-20202x2.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 160px;
  height: 120px;
}

.sponsors-img2{
  background-image: url(./img/award-aasl.png);
}

.sponsors-img3{
  background-image: url(./img/award-smart-media.png);
}

.sponsors-img4{
  background-image: url(./img/award-parents-choice-gold2x.png);
}

.sponsors-img5{
  background-image: url(./img/award-twillywig.png);
}

.sponsors-img6{
  background-image: url(./img/award-national-parenting-products.png);
  width: 130px;
  height: 90px;
}

.sponsors-img7{
  background-image: url(./img/award-moms-choice.png);
}

.sponsors-img8{
  background-image: url(./img/digital-education-awards-2021-winner.png);
}

.sponsors-img9{
  background-image: url(./img/parents-picks-awards-2020.png);
}